---
whiskers:
  version: 2.5.1
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.ini"
  hex_format: "{{r}}{{g}}{{b}}{{a}}"
---
title-color={{ subtext0.hex }}
summary-color={{ text.hex }}
body-color={{ text.hex }}
background={{ base.hex }}
border-color={{ blue.hex }}
progress-bar-color={{ overlay0.hex }}

[critical]
border-color={{ peach.hex }}
